<footer id="footer">
  <!-- 引入不蒜子插件 -->
  <script
    async
    src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
  ></script>
  <span id="busuanzi_container_site_pv"
    >本站总访问量<span id="busuanzi_value_site_pv"></span>次</span
  >
  <% if (theme.sidebar === 'bottom'){ %> <%- partial('_partial/sidebar') %> <% }
  %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %>——<%= config.author || config.title
      %><br />
      由 <a href="//hexo.io/zh-cn/" target="_blank"> Hexo </a> <%=
      __('powered_by') %>
    </div>
  </div>
</footer>

<div id="fixed-btn" class="fixed-btn">
  <a id="go-top" class="go-top" title="返回顶部"></a>
</div>

<script>
  // 当网页向下滑动 300px 出现"返回顶部" 按钮
  // window.onscroll = function() {scrollFunction()};
  //
  // function scrollFunction() {
  //   if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
  //     document.getElementById("fixed-btn").style.display = "block";
  //   } else {
  //     document.getElementById("fixed-btn").style.display = "none";
  //   }
  // }
  //
  // // 点击按钮，返回顶部
  // function topFunction() {
  //   document.body.scrollTop = 0;
  //   document.documentElement.scrollTop = 0;
  // }

  document.addEventListener('DOMContentLoaded', function(){
    $(document).scroll(function() {
      var $scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop; //兼容浏览器
      if($scrollTop > 300) { //滚动高度可调
        $("#fixed-btn").show();
      } else {
        $("#fixed-btn").hide();
      };
    })

    $("#fixed-btn").on("click", function() {
      $('html,body').animate({
        scrollTop: 0
      }, 500);
    })

    // $.get('http://data.zz.baidu.com/urls?site=https://www.tiven.cn&token=QZWCDMydKCiY8doP', function(res){
    //   console.log(res)
    // })

    // pushBaidu()
  })

  function pushBaidu(){
    let img = new Image()
    img.src = 'http://data.zz.baidu.com/urls?site=https://www.tiven.cn&token=QZWCDMydKCiY8doP'
    document.body.appendChild(img)
    img.onload = function () {
      console.log('ok')
    }
  }


</script>