#footer
  //background: #444
  background-color rgba(0,0,0,0.75)
  padding: 20px 0
  //border-top: 1px solid color-border
  color: color-grey
  text-align: center

  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  .outer
    padding 0

#footer-info
  line-height: line-height
  font-size: 0.85em

@keyframes love-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}

.footer-love
  font-size 1.5em
  color: #ff0000;
  display: inline-block;
  margin: 0 5px;
  animation: love-animate 1.2s ease-in-out infinite;

.fixed-btn
  cursor: pointer
  position: fixed
  bottom: 5%
  right: 20px;
  //padding: 5px
  //background-color: #fff
  //border: 1px solid #eee
  //box-shadow: 0 0 5px #333
  display: none

.go-top
  display: block
  width: 20px
  height: 30px
  border-radius: 50%
  background: url(//tiven.cn/assets/img/icon-goTop.png) no-repeat center
  background-size: 100%
  transition all 0.2s linear
  &:hover
    transform scale(1.1)
    //box-shadow 0 0 5px #666

.snowbox
  pointer-events none
  user-select none
  position fixed
  z-index 100
  top -50px


#site-desc
  line-height: line-height
  font-size: 0.85em